body {
    background: #c1c1c1;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Emoji', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, 'Courier New', monospace;
}